<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../asset/css/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- this header -->
    <header>

    </header>
    <!-- this is main -->

    <main style="text-align: center;" >
        <!-- text for welcom -->
        <div class="welcom">
            <h1>Welcome to index</h1>
        </div>
        <!-- input for UserName -->
        <div class="tets">
            <span>UserName:</span>
            <input class="inputanduser" type="text" placeholder=".....">

        </div>
        <!-- This is for password -->
        <div class="password">
            <span>password:</span>
            <input class="inputanduser" type="password"  placeholder="123456789" >

        </div>
        <div class="ko">
            <input class="btn" type="button" value="login">
        </div>
    </div>
    <a href="register.html"><div>
        <input class="btn1" type="button" value="register">
    </div></a>
    </main>

    <!-- other tags -->
<!-- section tag is lock like main tag but it can use fro more than one time -->
    <section></section>
     <!-- footer tag is for bottom of page -->
     <footer></footer>
    
</body>
</html>