<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../asset/css/public.css">
    <link rel="stylesheet" href="../asset/css/login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body>
    <header>

        <menu type="toolbar">
            <div class="countain">
                <a href="register.html">ورود/ثبت‌ نام</a>
                <ul>
                    <li>items</li>
                    <li>items</li>
                    <li>items</li>
                    <li>items</li>
                </ul>
            </div>
        </menu>
    </header>
    <main>
        <section>
            <div id="section">

                <div class="box">
                    <p>ورود به وب سایت</p>
                    <div class="LogANDrgis">
                        <img src="../asset/img/logo.svg" alt="">

                        <div class="inputs">
                            <form action="post">

                                <input type="text" placeholder="نام کاربری">
                                <input type="password" placeholder="4wgwsa6">
                                <button type="submit">ورود</button>
                            </form>

                        </div>
                        <a href="register.html" class="aGo">ثبت نام در وب سایت</a>

                    </div>

                </div>
            </div>
        </section>
    </main>

</body>

</html>