<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../asset/css/public.css">
    <link rel="stylesheet" href="../asset/css/register.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>

<body>
    <header>

        <menu type="toolbar">
            <div class="countain">
                <a href="Login.html">ورود/ثبت‌ نام</a>
                <ul>
                    <li>items</li>
                    <li>items</li>
                    <li>items</li>
                    <li>items</li>
                </ul>
            </div>
        </menu>
    </header>
    <main>
        <section>
            <div id="section">

                <div class="box">
                    <p>ورود به وب سایت</p>
                    <div class="LogANDrgis">
                        <img src="../asset/img/logo.svg" alt="">
                        <div class="inputs">
                            <form action="post" type="_parent">
                                <input class="inputer" type="text" placeholder="نام کاربری">
                                <input class="inputer" type="password" placeholder="4wgwsa6">
                                <input class="inputer" type="tel" name="tel" id="phone" placeholder="+9891587897">
                                <input class="inputer" name="email" id="gmail" placeholder="Example200.gmail.com">
                                <p id="pcheck">
                                    قوانین را قبول دارم
                                    <input type="checkbox" name="agree" id="testCh">
                                </p>
                                <button type="submit">ورود</button>

                            </form>
                            <a href="Login.html" class="aGo">ورود به وب سایت</a>


                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>

</body>

</html>