<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../asset/Css/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<div>

    <div class="contain">

        <body class="backImg">

            <table border="1px">
                <tr>
                    <th class="thg">Product 1</th>
                    <th class="thg">Product 2</th>
                    <th class="thg">Product 3</th>
                    <th class="thg">Product 4</th>
                    <th class="thg">Product 5</th>
                    <th class="thg">Product 6</th>
                </tr>
                <tr>
                    <td>
                        <div>

                            <img class="borderTop" src="../asset/image/1.jfif" alt="">
                            <div>
                                <span>
                                    <p class="Ptitle">product title</p>
                                </span>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam praesentium possimus
                                    quae
                                    vel aliquid facilis dolores molestias, ullam eius laborum reprehenderit ad esse
                                    nesciunt
                                    odio aspernatur iusto hic
                                    distinctio error sequi.</p>
                                <input type="button" value="Buy">
                                <p class="price">
                                <p><del>150 $</del></p>80 $</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>

                            <img class="borderTop" src="../asset/image/2.jfif" alt="">
                            <div>
                                <span>
                                    <p class="Ptitle">product title</p>
                                </span>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam praesentium possimus
                                    quae
                                    vel aliquid facilis dolores molestias, ullam eius laborum reprehenderit ad esse
                                    nesciunt
                                    odio aspernatur iusto hic
                                    distinctio error sequi.</p>
                                <input type="button" value="Buy">
                                <p class="price">
                                <p><del>150 $</del></p>80 $</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>

                            <img class="borderTop" src="../asset/image/3.jfif" alt="">
                            <div>
                                <span>
                                    <p class="Ptitle">product title</p>
                                </span>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam praesentium possimus
                                    quae
                                    vel aliquid facilis dolores molestias, ullam eius laborum reprehenderit ad esse
                                    nesciunt
                                    odio aspernatur iusto hic
                                    distinctio error sequi.</p>
                                <input type="button" value="Buy">
                                <p class="price">
                                <p><del>150 $</del></p>80 $</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>

                            <img class="borderTop" src="../asset/image/4.jfif" alt="">
                            <div>
                                <span>
                                    <p class="Ptitle">product title</p>
                                </span>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam praesentium possimus
                                    quae
                                    vel aliquid facilis dolores molestias, ullam eius laborum reprehenderit ad esse
                                    nesciunt
                                    odio aspernatur iusto hic
                                    distinctio error sequi.</p>
                                <input type="button" value="Buy">
                                <p class="price">
                                <p><del>150 $</del></p>80 $</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>

                            <img class="borderTop" src="../asset/image/5.jfif" alt="">
                            <div>
                                <span>
                                    <p class="Ptitle">product title</p>
                                </span>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam praesentium possimus
                                    quae
                                    vel aliquid facilis dolores molestias, ullam eius laborum reprehenderit ad esse
                                    nesciunt
                                    odio aspernatur iusto hic
                                    distinctio error sequi.</p>
                                <input type="button" value="Buy">
                                <p class="price">
                                <p><del>150 $</del></p>80 $</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>

                            <img class="borderTop" src="../asset/image/6.jfif" alt="">
                            <div>
                                <span>
                                    <p class="Ptitle">product title</p>
                                </span>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam praesentium possimus
                                    quae
                                    vel aliquid facilis dolores molestias, ullam eius laborum reprehenderit ad esse
                                    nesciunt
                                    odio aspernatur iusto hic
                                    distinctio error sequi.</p>
                                <input type="button" value="Buy">
                                <p class="price">
                                <p><del>150 $</del></p>80 $</p>

                            </div>
                        </div>
                    </td>
                </tr>
            </table>
    </div>
    </body>
</div>

</html>